<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	
	<title>{ifset title}{include title|stripHtml} | {/ifset}2050.hra</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link href="http://fonts.cdnfonts.com/css/sofia-pro" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="apple-touch-icon" sizes="57x57"
		  href="https://volba2050.world/wp-content/themes/volba2050/assets/images/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60"
		  href="https://volba2050.world/wp-content/themes/volba2050/assets/images/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72"
		  href="https://volba2050.world/wp-content/themes/volba2050/assets/images/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76"
		  href="https://volba2050.world/wp-content/themes/volba2050/assets/images/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114"
		  href="https://volba2050.world/wp-content/themes/volba2050/assets/images/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120"
		  href="https://volba2050.world/wp-content/themes/volba2050/assets/images/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144"
		  href="https://volba2050.world/wp-content/themes/volba2050/assets/images/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152"
		  href="https://volba2050.world/wp-content/themes/volba2050/assets/images/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180"
		  href="https://volba2050.world/wp-content/themes/volba2050/assets/images/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"
		  href="https://volba2050.world/wp-content/themes/volba2050/assets/images/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32"
		  href="https://volba2050.world/wp-content/themes/volba2050/assets/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96"
		  href="https://volba2050.world/wp-content/themes/volba2050/assets/images/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16"
		  href="https://volba2050.world/wp-content/themes/volba2050/assets/images/favicon-16x16.png">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light fixed-top">
		<a class="navbar-brand d-flex align-items-end" n:href="Homepage:default" style="margin-top: 8px">
			<span>VOĽBA2050.KOŠICE</span>
		</a>
	</nav>

	{include content}



	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	{/block}
</body>
</html>
